
@{
    ViewBag.Title = "mark";
}

<h2>mark</h2>

<span>
    java=@ViewBag.java<br />
    html=@ViewBag.html<br />
    android=@ViewBag.android<br />
    asp=@ViewBag.asp<br />
    ml=@ViewBag.ml<br />
    total=@ViewBag.totalmark<br />
    percentage=@ViewBag.percentage %
</span>